
Calculator.xcodeproj/project.xcworkspace/xcuserdata/alexandre.xcuserdatad/UserInterfaceState.xcuserstate

Calculator.xcodeproj/project.xcworkspace/xcuserdata/alexandre.xcuserdatad/WorkspaceSettings.xcsettings

Calculator.xcodeproj/project.xcworkspace/xcuserdata/alexandre.xcuserdatad/WorkspaceSettings.xcsettings

Calculator.xcodeproj/project.xcworkspace/xcuserdata/alexandre.xcuserdatad/WorkspaceSettings.xcsettings

Calculator.xcodeproj/xcuserdata/alexandre.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
